@model ClienteModel
@{
    ViewData["Title"] = "EliminarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
    Eliminar Cliente
  </div>
  <div class="card-body">
    

      <form asp-action="EliminarCliente" asp-controller="Mantenedor" method="post">

       <input asp-for="IdCliente" type="hidden" class="form-control">

       <div class="alert alert-danger" role="alert">
          ¿Desea eliminar el contacto : @Html.DisplayTextFor(m => m.IdCliente) ?
        </div>
   
      <button type="submit" class="btn btn-danger">EliminarCliente</button>
      <a asp-action="ListarClientes" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
    </form>


  </div>
</div>



